{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["jsx-a11y", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "arrowParens": "avoid",
        "trailingComma": "none"
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["CustomLabel"],
        "labelAttributes": ["inputLabel"],
        "controlComponents": ["CustomInput"],
        "assert": "htmlFor",
        "depth": 3
      }
    ],
    "no-underscore-dangle": [2, { "allow": ["_id"] }]
  }
}
