{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb-typescript",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "jsx-a11y",
    "@typescript-eslint",
    "testing-library",
    "jest-dom",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx", ".ts"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.stories.tsx"],

        "peerDependencies": false
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "jsxSingleQuote": true,
        "arrowParens": "avoid",
        "trailingComma": "none"
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["CustomLabel"],
        "labelAttributes": ["inputLabel"],
        "controlComponents": ["CustomInput"],
        "assert": "htmlFor",
        "depth": 3
      }
    ],
    "jsx-a11y/no-onchange": "off",
    "no-underscore-dangle": [2, { "allow": ["_id"] }]
  }
}
