$black: #000;
$black-065: #000000a6;
$white: #fff;
$dark-grey: #383838;
$grey: #b6bbbb;
$grey-04: #b5baba66;
$light-grey: #8080800e;
$red: #db4a4a;
$red-05: #db4a4a80;
$green: #199e66;
$orange: #ffa500;
