.c-bottom-menu {
  background-color: $red;
}

.l-bottom-menu {
  height: $menu-height;
  position: relative;

  &__list {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
  }

  &__list-item-center {
    @include centerXY-abs;
  }
}
