.c-calendar-caption {
  text-align: center;
  @include s1;
  font-weight: bold;
  border-top: 2px solid $light;
  background: linear-gradient(to bottom, $eggshell, white);

  &__details {
    padding: ($blh * 0.25rem) ($blh * 1.5rem);
  }

  &__details-summary {
    list-style: none; // hide default marker
    background-image: url('../../svg/caret-right-solid.svg');
    background-repeat: no-repeat;
    background-size: 6px;
    background-position: 100% 60%;
  }

  &__details-summary::-webkit-details-marker {
    display: none; // hide default marker
  }

  &__details[open] > .c-calendar-caption__details-summary {
    background-image: url('../../svg/caret-down-solid.svg');
    background-size: 10px;
    background-position-y: 54%;
  }

  &__legend-heading {
    @include s2;
    text-align: center;
    color: $charcoal;
  }

  &__legend-sow,
  &__legend-harvest {
    width: 60px;
    height: 10px;
  }

  &__legend-sow {
    background-color: $electric;
  }

  &__legend-harvest {
    background-color: $fresh;
  }
}
