.c-garden-view {
  text-align: center;
  color: $grey;

  &__title {
    font-style: italic;
    font-weight: 300;
    margin-bottom: $blh * 0.5rem;
  }

  &__subtitle {
    font-style: normal;
  }

  &__list {
    list-style-type: none;
    margin-bottom: $blh * 0.5rem;
  }
}
