.c-header {
  text-align: center;

  &.c-header--secondary {
    color: $tin;
  }

  &__title {
    $screen-xxs: 20rem;
    @include fluid-typography(10rem, $screen-xxs, 1rem, 2.5rem);
    font-style: italic;
    font-weight: 400;
  }
}
