.c-main-menu {
  &__title {
    height: $toolbar-xs-height;
    @include h5;
    line-height: $toolbar-xs-height;
    font-style: italic;
    color: $white;
    background-color: $red;
    padding-left: 0.75em;
  }

  &__list {
    list-style-type: none;
  }
}
