.c-menu-bottom {
  background-color: $forest;
}

.l-menu-bottom {
  height: $toolbar-height;

  &__list {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
  }

  &__item-center {
    @include centerXY-abs;
  }
}
