.c-modal {
  @include full-screen-abs;
  z-index: 1; // to overlay fixed bottom menu
  background-color: $white;

  &__inner {
    background-color: $white;
  }

  &__content {
    max-width: $screen-xxs;
    padding: 1em;
    margin: 10vh auto 0;
  }
}
