.c-modal {
  background-color: $white; // fallback
  background-color: $black-065;

  &__content {
    background-color: $white;
    border-bottom: 2px solid $forest;
    border-right: 1px solid $forest;
  }

  &__header {
    height: $toolbar-height;
    background-color: $forest;
    color: $white;

    @include screen-min($screen-xs) {
      height: $toolbar-xs-height;
    }
  }

  &__title {
    @include t-base;
  }

  &__children {
    padding: $blh * 0.5rem;
  }
}

.l-modal {
  @include fixed-full-screen;
  z-index: 1;
  overflow: auto;

  &__content {
    max-width: 300px;
    min-height: 100%;

    &.l-modal__content--secondary {
      max-width: 220px;
    }
  }

  &__header {
    position: sticky;
    top: 0;
  }

  &__header-flex {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &__title {
    @include centerXY-abs; // true center
  }
}
