.c-modal-header {
  height: $toolbar-height;
  background-color: $forest;
  color: $white;

  @include screen-min($screen-xs) {
    height: $toolbar-xs-height;
  }

  &__title {
    @include t-base;
  }
}

.l-modal-header {
  display: flex;
  align-items: center;
  position: relative;

  &__title {
    @include centerXY-abs;
  }
}
