.c-plant-menu {
  &__dropdown {
    list-style-type: none;
    border: 1px solid $black;
    box-shadow: 2px 2px 2px;
  }
}

.l-plant-menu {
  position: relative;

  &__dropdown {
    position: absolute;
    right: 0;
    top: 30px;
    width: 200px;
  }
}
