.c-plant-entry {
  color: $dark-grey;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    font-style: italic;
  }

  &__menu-btn {
    position: relative;
    top: 4px;
  }

  &__desc {
    font-style: italic;
    font-weight: 300;
    margin-bottom: $blh * 0.25rem;
  }

  &__category {
    display: inline-block;
    font-weight: 300;
    padding: 0 0.5em;
    border: 1px solid $grey;
    border-radius: $border-radius;
    margin-bottom: $blh * 0.5rem;
  }
}
