.c-select-field {
  &__select {
    @include input;
    text-align: center;
    box-sizing: content-box; // to match input content height
    padding-left: 0;
    padding-right: 0;
    height: $blh * 1rem; // match input height
  }
}
