.l-top-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 100%;

  @include screen-max($screen-xs) {
    position: relative;
  }

  @include screen-min($screen-xs) {
    justify-content: flex-end;
  }

  // true center
  &__item-center {
    @include screen-max($screen-xs) {
      @include centerXY-abs;
    }
  }
}
