.o-calendar {
  &__list {
    list-style-type: none;
  }
}

.l-calendar {
  &__list-item {
    margin-bottom: $blh * 1rem;
  }

  &__caption {
    position: fixed;
    left: 0;
    right: 0;
    bottom: $toolbar-height;

    @include screen-min($screen-xs) {
      bottom: 0;
      left: $main-menu-width;
    }
  }
}
