.o-menu-top {
  background-color: $forest;
}

.l-menu-top {
  height: $toolbar-height;

  @include screen-min($screen-xs) {
    height: $toolbar-xs-height;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 100%;

    @include screen-max($screen-xs) {
      position: relative;
    }

    @include screen-min($screen-xs) {
      justify-content: flex-end;
    }
  }
  // true center
  &__item-center {
    @include screen-max($screen-xs) {
      @include centerXY-abs;
    }
  }

  &__search-form {
    display: flex;
  }
}
