@mixin btn-base {
  display: inline-block;
  background: $white;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  padding: 0.25em 0.5em;

  &:hover,
  &:focus {
    outline: none;
  }
}
