@mixin input {
  width: 100%;
  font-family: $font-stack;
  @include t-base;
  background-color: $white;
  padding: (0.25rem * $blh) 0.5em;
  border: 1px solid $tin;
  border-radius: $border-radius;

  &:focus {
    border-color: $electric;
    box-shadow: 0 0 6px $electric;
    outline: none;
  }
}

@mixin btn-base {
  display: inline-block;
  font-family: $font-stack;
  @include t-base;
  padding: (0.25rem * $blh) 0.5em;
  border: 1px solid $black;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
