.block-button {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  background-color: $white;
  padding: 1em 0.75em;
  border: none;

  &__icon {
    display: inline-block;
    width: 2em;
  }

  &:hover {
    cursor: pointer;
    background-color: $light;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $forest;
    color: $white;
  }
}
