.btn {
  display: inline-block;
  background-color: $white;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: (0.25rem * $blh) 0.5em;
  border: 1px solid $black;
  border-radius: $border-radius;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    color: $green;
    border-color: $green;
    outline: none;
  }

  &:active {
    background-color: $green;
    color: $white;
  }

  &__icon {
    margin-right: 0.5em;
  }

  &.btn--secondary {
    font-weight: bold;
    color: $red;
    border-color: $red;

    &:active {
      background-color: $red-05;
    }
  }

  &.btn--tertiary {
    width: unset;
  }
}
