.button {
  @include btn-base;
  background-color: $electric;
  border-color: $electric;
  color: $white;

  &:hover,
  &:focus {
    color: $electric;
    border-color: $electric;
  }

  &:active {
    background-color: $electric;
    color: $white;
  }

  &__icon {
    margin-right: 0.5em;
  }
}
