.btn {
  @include btn-base();
  width: 100%;
  border: 1px solid $black;
  border-radius: $border-radius;

  &:focus,
  &:hover {
    border-color: $primary;
    color: $primary;
  }

  &:active {
    background-color: $primary;
    color: $white;
  }
}
