.icon-button {
  display: inline-block;
  font-family: $font-stack;
  @include t5;
  color: $white;
  background-color: transparent;
  padding: (0.25rem * $blh) (0.5rem * $blh);
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: 1px solid $vermillion;
  }

  &.icon-button--secondary {
    color: $clean;
    @include t-base;

    &:hover,
    &:active {
      color: $charcoal;
    }
  }
}
