.monthly-data {
  background-color: $grey-04;
  width: calc(100% / 12);
  height: $blh * 0.5rem;

  &.monthly-data--sow {
    background-color: $green;
  }

  &.monthly-data--harvest {
    background-color: $orange;
  }
}
