.select {
  $bg-size: 9px;
  @include input;
  text-align: center;
  height: calc(#{$menu-height} - 2px);
  appearance: none;
  padding: 0 calc(0.5em + #{$bg-size}) 0 0.5em;
  background-color: transparent;
  background-image: url('../../svg/caret-down-solid.svg');
  background-repeat: no-repeat;
  background-size: $bg-size;
  background-position: 95% 55%;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &.select--sort {
    background-image: url('../../svg/sort-solid.svg');
  }
}
