.submit-button {
  @include btn-base;
  width: 100%;

  &:hover,
  &:focus {
    color: $green;
    border-color: $green;
  }

  &:active {
    background-color: $green;
    color: $white;
  }

  &.submit-button--secondary {
    font-weight: bold;
    color: $red;
    border-color: $red;

    &:active {
      background-color: $red-05;
    }
  }
}
