// Text utils
.u-text-right {
  text-align: right !important;
}

// Spacing utils

.u-push {
  margin-bottom: $blh * 1rem !important;
}

.u-push-and-half {
  margin-bottom: $blh * 1.5rem !important;
}

.u-push-dbl {
  margin-bottom: $blh * 2rem !important;
}
