$white: #fff;
$black: #000;
$black-065: #000000a6;
$forest: #1e392a;
$electric: #3cc47c;
$fresh: #f7ef6a;
$vermillion: #93c178;
$light: #e9c893;
$charcoal: #3c3c3c;
$tin: #828081;
$eggshell: #f7f2f2;
$grey: #b6bbbb;
$grey-04: #b5baba66;
$clean: #9990a5;
$red: #db4a4a;
$red-05: #db4a4a80;
