.m-select-field {
  &__select {
    @include input;
    appearance: none;
    text-align: center;
    background-image: url('../../../svg/caret-down-solid.svg');
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: 95% 55%;
  }
}
