.submit-button {
  @include btn-base;
  background-color: $electric;
  width: 100%;

  &:hover,
  &:focus {
    color: $white;
    border-color: $electric;
  }

  &:active {
    background-color: $forest;
    border-color: $electric;
    color: $electric;
  }
}
