.tab {
  display: inline-block;
  font-family: $font-stack;
  @include t-base;
  background: $white;
  color: $grey;
  padding: 0.25em 0.5em;
  border: none;
  border-bottom: 2px solid $clean;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    font-weight: bold;
    color: $black;
  }

  &.tab--selected {
    border-color: $electric;
    color: $black;
  }
}
